affine==2.3.0
anyio==3.3.4
anytree==2.8.0
argon2-cffi==21.1.0
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1620387926260/work
Babel==2.9.1
backcall==0.2.0
black==21.9b0
bleach==4.1.0
branca @ file:///home/conda/feedstock_root/build_artifacts/branca_1609346930842/work
brotlipy==0.7.0
certifi==2021.10.8
cffi @ file:///D:/bld/cffi_1631636425438/work
chardet @ file:///D:/bld/chardet_1610093646853/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1626371162869/work
click @ file:///D:/bld/click_1634002588094/work
click-plugins==1.1.1
cligj @ file:///home/conda/feedstock_root/build_artifacts/cligj_1633637764473/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
contextily @ file:///home/conda/feedstock_root/build_artifacts/contextily_1634425997309/work
cryptography @ file:///D:/bld/cryptography_1634230501184/work
cycler==0.10.0
data==0.4
debugpy==1.5.1
decorator==4.4.2
defusedxml==0.7.1
entrypoints==0.3
Fiona==1.8.20
folium @ file:///home/conda/feedstock_root/build_artifacts/folium_1615570722684/work
funcsigs==1.0.2
future==0.18.2
GDAL==3.3.2
geographiclib @ file:///home/conda/feedstock_root/build_artifacts/geographiclib_1624386157733/work
geopandas @ file:///home/conda/feedstock_root/build_artifacts/geopandas_1634376623017/work
geopy @ file:///home/conda/feedstock_root/build_artifacts/geopy_1626114677070/work
graphviz==0.5.1
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1609836280497/work
ipykernel==6.4.2
ipython==7.28.0
ipython-genutils==0.2.0
jedi==0.18.0
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1633656206378/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1633637554808/work
json5==0.9.6
jsonschema==4.1.2
jupyter-client==7.0.6
jupyter-core==4.8.1
jupyter-server==1.11.1
jupyterlab==3.2.1
jupyterlab-pygments==0.1.2
jupyterlab-server==2.8.2
kiwisolver @ file:///D:/bld/kiwisolver_1630173896207/work
latex==0.7.0
mapclassify @ file:///home/conda/feedstock_root/build_artifacts/mapclassify_1627363180059/work
MarkupSafe @ file:///D:/bld/markupsafe_1621455847127/work
matplotlib @ file:///D:/bld/matplotlib-suite_1632417749342/work
matplotlib-inline==0.1.3
mercantile @ file:///home/conda/feedstock_root/build_artifacts/mercantile_1619028378680/work
mistune==0.8.4
munch==2.5.0
mypy-extensions==0.4.3
nbclassic==0.3.3
nbclient==0.5.4
nbconvert==6.2.0
nbformat==5.1.3
nest-asyncio==1.5.1
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1631239448435/work
neupy==0.6.5
notebook==6.4.5
numpy @ file:///D:/bld/numpy_1629092230867/work
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
osmnx==1.1.1
packaging==21.0
pandas @ file:///D:/bld/pandas_1634504373413/work
pandocfilters==1.5.0
parso==0.8.2
pathspec==0.9.0
pickleshare==0.7.5
Pillow @ file:///D:/bld/pillow_1630696805646/work
platformdirs==2.4.0
ply==3.11
progressbar2==3.34.3
prometheus-client==0.11.0
prompt-toolkit==3.0.21
psycopg2==2.9.1
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
Pygments==2.10.0
Pyomo==6.1.2
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1633192417276/work
pyparsing==2.4.7
pyproj @ file:///D:/bld/pyproj_1633060699700/work
pyrsistent==0.18.0
PySocks @ file:///D:/bld/pysocks_1610291742246/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-utils==2.5.6
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1633452062248/work
pywin32==302
pywinpty==1.1.4
pyzmq==22.3.0
rasterio==1.2.10
regex==2021.10.21
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1626393743643/work
requests-unixsocket==0.2.0
Rtree @ file:///D:/bld/rtree_1626988014406/work
scikit-learn @ file:///D:/bld/scikit-learn_1632611601235/work
scipy @ file:///C:/bld/scipy_1628206591178/work
Send2Trash==1.8.0
Shapely==1.7.1
shutilwhich==1.1.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sniffio==1.2.0
snuggs==1.4.7
tableprint==0.7.1
tempdir==0.7.1
termcolor==1.1.0
terminado==0.12.1
testpath==0.5.0
Theano==1.0.0
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1633102299089/work
tomli==1.2.1
tornado @ file:///D:/bld/tornado_1610094858390/work
traitlets==5.1.1
typing-extensions==3.10.0.2
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1632350318291/work
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.1
win-inet-pton @ file:///D:/bld/win_inet_pton_1610147566231/work
xlrd==2.0.1
xyzservices @ file:///home/conda/feedstock_root/build_artifacts/xyzservices_1632152701984/work
